<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_partials/head.ejs') %>
    <title>Garden Dashboard</title>
</head>

<body>
  <%- include('../_partials/header.ejs') %>
    <%- include('../_partials/garden/user_nav.ejs') %>
      <h2>Welcome, <%= user.display_name %>!</h2>
      <h3>My Gardens</h3>
      <% gardens.forEach(garden=> { %>
        <h4>
          <a href="/gardens/<%= garden._id %>">
            <%= garden.label %>
          </a> (<%= garden.season %>)
        </h4>

        <% }) %>
          <hr>
          <a href="/gardens/new">Create New Garden</a>
          <%- include('../_partials/footer.ejs') %>
</body>

</html>