<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_partials/head.ejs') %>
    <title>Garden Dashboard</title>
</head>

<body>
  <%- include('../_partials/header.ejs') %>
    <%- include('../_partials/garden/user_nav.ejs') %>
      <h2>Welcome, <%= user.display_name %>!</h2>

      <%- include('../_partials/footer.ejs') %>
</body>

</html>