<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../_partials/head.ejs'), {title: 'Add New Plant' } %>
    <%- include('../../_partials/garden/tiny.ejs') %>
      <title>Document</title>
</head>

<body>
  <%- include('../../_partials/header.ejs') %>
    <main class="main">
      <h3>Add a Plant</h3>
      <form method="post">
        <div class="form-group">
          <label for="name">Plant Name/Variety</label>
          <input type="text" name="name" id="name" placeholder="" required>
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          <select id="type" name="type">
            <option value="0">Choose a Type</option>
            <% types.forEach(type=> { %>
              <option value="<%= type %>">
                <%= type %>
              </option>
              <% }) %>
                <option value="misc">Misc</option>
          </select>
        </div>

        <div class="form-group">
          <label for="number_of_plants">Number of Plants</label>
          <input type="number" name="number_of_plants" id="number_of_plants" min="1">
        </div>

        <div class="form-group">
          <label for="planting_date">Planting Date</label>
          <input type="date" name="planting_date" id="planting_date">
        </div>

        <div class="form-group">
          <label for="garden_id">Garden</label>
          <select id="garden_id" name="garden_id">
            <% gardens.forEach(garden=> { %>
              <option value="<%= garden._id %>" <%=gardenId===garden._id.toString() && 'selected' %>>
                <%= garden.label %>
              </option>
              <% }) %>
          </select>
        </div>

        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" name="source" id="source">
        </div>

        <div class="form-group">
          <label for="notes">Growing Notes</label>
          <textarea name="notes" id="notes"></textarea>
        </div>

        <fieldset>
          <legend>Plant Care</legend>
          <div class="form_group">
            <label for="last_water">Last Water</label>
            <input type="date" name="last_water" id="last_water">
          </div>
          <div class="form-group">
            <label for="last_feed">Last Feed</label>
            <input type="date" name="last_feed" id="last_feed">
          </div>
          <div class="form-group">
            <label for="pest_control">Pest Control</label>
            <input type="text" name="pest_control" id="pest_control" placeholder="">
          </div>
        </fieldset>

        <button>Create Plant</button>
      </form>
    </main>
    <%- include('../../_partials/footer.ejs') %>
</body>

</html>