<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../_partials/head.ejs', {title: 'Add New Plant' }); %>
    <%- include('../../_partials/garden/tiny.ejs') %>
      <title>Document</title>
</head>

<body>
  <%- include('../../_partials/header.ejs') %>
    <main class="main">
      <h3 class="page-title">Add a Plant</h3>
      <form method="post">
        <div class="form__group">
          <label for="name" class="form__label">Plant Name/Variety</label>
          <input type="text" name="name" id="name" placeholder="" required class="form__input">
        </div>

        <div class="form__group">
          <label for="type" class="form__label">Type</label>
          <select id="type" name="type">
            <option value="0">Choose a Type</option>
            <% types.forEach(type=> { %>
              <option value="<%= type %>">
                <%= type %>
              </option>
              <% }) %>
                <option value="misc">Misc</option>
          </select>
        </div>

        <div class="form__group">
          <label for="number_of_plants" class="form__label">Number of Plants</label>
          <input type="number" name="number_of_plants" id="number_of_plants" min="1" class="form__input">
        </div>

        <div class="form__group">
          <label for="planting_date" class="form__label">Planting Date</label>
          <input type="date" name="planting_date" id="planting_date" class="form__input">
        </div>

        <div class="form__group">
          <label for="garden_id" class="form__label">Garden</label>
          <select id="garden_id" name="garden_id">
            <% gardens.forEach(garden=> { %>
              <option value="<%= garden._id %>" <%=gardenId===garden._id.toString() && 'selected' %>>
                <%= garden.label %>
              </option>
              <% }) %>
          </select>
        </div>

        <div class="form__group">
          <label for="source" class="form__label">Source</label>
          <input type="text" name="source" id="source" class="form__input">
        </div>

        <div class="form__group">
          <label for="notes" class="form__label">Growing Notes</label>
          <textarea name="notes" id="notes"></textarea>
        </div>

        <fieldset>
          <legend class="page-subtitle">Plant Care</legend>
          <div class="form__group">
            <label for="last_water" class="form__label">Last Water</label>
            <input type="date" name="last_water" id="last_water" class="form__input">
          </div>
          <div class="form__group">
            <label for="last_feed" class="form__label">Last Feed</label>
            <input type="date" name="last_feed" id="last_feed" class="form__input">
          </div>
          <div class="form__group">
            <label for="pest_control" class="form__label">Pest Control</label>
            <input type="text" name="pest_control" id="pest_control" placeholder="" class="form__input">
          </div>
        </fieldset>

        <button class="btn">Create Plant</button>
      </form>
    </main>
    <%- include('../../_partials/footer.ejs') %>
</body>

</html>